/* general */
*
{
	margin: 0px;
	padding: 0px; 
}

h2
{
	font-size: 50px;
	color: purple;
	font-family: Arial,serif;


}
#carre
{
    height: 50px;
    width: 50px;
    background:rgb(30,144,255);
    -ms-transform: rotate(45deg); /* Internet Explorer */
    -moz-transform: rotate(45deg); /* Firefox */
    -webkit-transform: rotate(45deg); /* Safari et Chrome */
    -o-transform: rotate(45deg); /* Opera */
    margin-left:15px;
    margin-top: 15px;

}




/*header*/
img
{
	height:200px;
	margin-bottom:20px;

}
header
{
	height:200px;
	background-image: url("image/images.jpg");
	background-repeat: no-repeat;
	

}
header nav
{
	float: right;
	margin-top:155px;
	font-weight: bold;
}
header nav ul li 
{
	display: inline-block;
}
header nav ul li a
{
	color: white;
	text-transform: uppercase;
	margin: 50px;

}

/*accueil*/
span
{
	color: purple;
	font-size: 50px;
}
.first 
{
	margin-left: 10px;
	margin: 80px;
    padding:50px;
}
video
{
	margin-bottom: 200px;
	margin-left:100px;
}
.first p
{
	font-size: 30px;
	font-family: Arial,serif;
	color: white;
}
/*à propos*/

.second
{
	margin-top: 80px;
	font-size: 30px;
	margin-bottom: 50px;
	padding: 60px;
	margin-right: 500px;
}
.second p
{
	margin-top: 20px;
	color: white;
	font-size: 20px;
}
.image
{
	float: right;
	margin-bottom:50px;
	margin-top:150px;
	margin-right:50px;
	width: 300px;
	height: 300px;
}

/* activité*/
.act1
{
	margin-top: 80px;
    margin-right:30px;
    padding:50px;
    font-family: Arial,serif;
    color: white;
}

.act2
{
    
    margin-left:30px;
    padding:50px;
    font-family: Arial,serif;
    color: white;
}

.act3
{
    
    margin-right:30px;
    padding:50px;
    font-family: Arial,serif;
    color: white;
}

.act4
{
    
    margin-left:30px;
    padding:50px;
    font-family: Arial,serif;
    color: white;
}

.act5
{
   
    margin-right:30px;
    padding:50px;
    font-family: Arial,serif;
    color: white;
}

.act6
{
    
    margin-left:30px;
    padding:50px;
    font-family: Arial,serif;
    color: white;
}
.act7
{
   
    margin-right:30px;
    padding:50px;
    font-family: Arial,serif;
    color: white;
}
.triangle {
 width:0px;
 height:0px;
 border-left: 50px solid transparent;
 border-right: 50px solid transparent;
 border-top: 100px solid purple;
 margin:10px auto;
}
img
{
	width: 950px;
	height: 400px;
}
body
{
	background-color: black;
}

/*contactez-nous*/
#contact
{

   width: 600px;
   margin:20px;
   margin-top: 150px;
   margin-bottom: 60px;
   margin-right: 100px;
   margin-left: 200px;
   padding:100px;
   background-image: url("image/contact1.jpg");
}
input
{
	padding:20px;
	margin-right: 10px;
	margin-left: 10px;
}
.button4
{
	margin-top: 10px;
	margin-left: 80px;
	margin-bottom: 10px;
	padding: 20px;
	background-color:rgb(30,144,255);
}
label
{
	font-weight: bold;
}
form
{
	margin-left: 5px;
	width: 200px;
	margin-bottom:30px;
}

/*footer*/
footer
{
	height: 200px;
	background-color:purple; 
}

footer h4
{
	font-size: 30px;
	color: black;
	text-align: center;
	font-weight: bold;
}

footer p
{
	font-size: 15px;
	text-align: center;
	font-weight: bold;
	color: black;
	font-family: verdana,Arial,serif
}
.tel
{
    font-size: 20px;
	color: white;
	float: right;
	margin-right: 20px;
}
.email
{
	font-size: 20px;
    font-weight: bold;
	color: white;
	float: left;
	margin-left:20px; 
    margin-top: 10px;
	
}
.dix
{
    font-size: 20px;
	font-weight: bold;
	margin-top: 80px;
	margin-left: 300px;
	color: black;
	font-family: verdana,Arial,serif
	
}


